body {
    font-family: 'Gilroy', sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column; /* Change to column layout for centering */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: absolute; /* Position absolutely for centering */
    top: 50%; /* Align to the vertical center */
    left: 50%; /* Align to the horizontal center */
    transform: translate(-50%, -50%); /* Adjust for centering */
}

#weather-info {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
    text-align: center; /* Center the text */
}



h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.location-input {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.crop-container {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.crop-suggestion-text {
    font-size: 1.2em;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}
